name: Java Maven CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Run Spotless formatting
        run: mvn spotless:apply

      - name: Run Maven Validate + Checkstyle
        run: mvn -B validate

      - name: Build project
        run: mvn -B package